* {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 40px;
}

.top-content {
    margin-top: 89px;
    margin-bottom: 162px;
}

.title {
    margin-bottom: 17px;
}

.top-buttons {
    margin-top: 37px;
}

.top-logo {
    padding-top: 97px;
    padding-bottom: 96px;
}
